# frozen_string_literal: true

Rails.application.routes.draw do
  devise_for :users
  devise_scope :user do
    unauthenticated { root to: "devise/sessions#new", as: :unauthenticated_root }
    resource :profile, only: :show, controller: :profile

    namespace :admin do
      resources :users, only: [:index, :create]
    end

    root to: "profile#show"
  end

  if Rails.env.development?
    mount Lookbook::Engine, at: "/lookbook"
  end
end
