fr:
  admin:
    users:
      index:
        admin_center: Centre d'administration
        add_user: Inviter un utilisateur
      new:
        new_user: Nouvel utilisateur
        invite_user: Inviter cet utilisateur
